<h2>Por Capital</h2>
<hr>

<div class="row justify-content-center align-items-center g-2">
    <div class="col">
        <!-- Searchbox -->
        <!-- (onNewSearch)="searchByCapital($event)"  -->
        <shared-search-box (onDebounce)="searchByCapital($event)" [initialValue]="initialValue" placeholder="Este es un nuevo placehoder"></shared-search-box>
    </div>
</div>

<div class="row justify-content-center align-items-center g-2">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

        <countries-table [countries]="countries"></countries-table>
    </div>
</div>